<table id="wordPresTable">
  <tr>
    <td width="300">
      <img src="images/homepage/Kebar.jpeg" class="imgShadow presPic">
    </td>
    <td id="wordPresCol">
      <legend class="nameLegend">
        <h1 id="wordPresLegendText">A Word From the President</h1>
      </legend>
      <i id="wordPresName">Kebar M. Geleta</i>
    </td>
  </tr>
</table>
<div id="wordPresText">
  <h3>
    <span style="font-size:48px">N</span>u Delta has provided a home away from home for many of our members. The sense of community and brotherhood that everyone shows has been an inspiration for me and my time in the fraternity. So far, giving back as president has been a difficult journey, but rewarding nonetheless. It brings me joy to know that my actions as our community leader could make MIT more comfortable for some. Moving forward, Nu Delta's brothers plan to continue to foster a safe space for their fellow members and a model of exemplary character on campus.
  </h3>
</div>

<div class="feedSection brothersFeedSection">
  <h2>  
    <ts text="Brothers"></ts>
  </h2>
  <div class="feedImageCont brotherFeedImageCont">
    <a href="/brothers">
      <img class="imgShadow feedImage brotherFeedImage" src="images/homepage/Mainehouse2017.jpg">
    </a>
  </div>
  <div class="sectionText">
    <h3>The brothers of Nu Delta share a tight bond that brings us together, and promotes our success as individuals.  To learn more about the individual brothers, click the image above.</h3>
  </div>
</div>

<div class="feedSection houseFeedSection">
  <h2>  
    <ts text="House"></ts>
  </h2>
  <div class="feedImageCont houseFeedImageCont">
    <a href="/house">
      <img class="imgShadow feedImage houseFeedImage" src="images/house/houseImgs/CharlesView.jpg">
    </a>
  </div>
  <div class="sectionText">
    <h3>Many of the brothers reside in our lovely 4 story mansion located at 460 Beacon Street in Boston.  For many of the brothers, this is where our fondest MIT memories are made, so we take great pride in our house.  Click on the view from our roofdeck shown above to learn more about the house!</h3>
  </div>
</div>
