<div class = "tree">
	<ul>
		<li>
			<a href="#">Nana Essilfie-Conduah (2011)</a>
			<ul>
				<li>
					<a href="#">Kwesi Phillips (2014)</a>
					<ul>
						<li>
							<a id="2017-5" href="#">Narindra Peaks (2017)</a>
							<ul>
								<li>
									<a id="2018-12" href="#">Jeremiah Smith (2018)</a>
								</li>
								<li>
									<a id="2019-5" href="#">Kevin Rodriguez (2019)</a>
								</li>
								<li>
									<a id="2020-1" href="#">Kenneth Kofi Acquah (2020)</a>
									<ul>
									    <li>
									        <a id ="2021-10" href = "#">Kings Odigie (2021)</a>
									    </li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">Kwami Williams (2012)</a>
					<ul>
						<li>
							<a href="#">Kojo Welbeck (2014)</a>
							<ul>
								<li>
									<a id="2015-5" href="#">Ebenezer Sefah (2015)</a>
									<ul>
										<li>
											<a id="2016-2" href="#">Brian Wilcox (2016)</a>
											<ul>
												<li>
													<a id="2018-2" href="#">Jordan Browne (2018)</a>
													<ul>
														<li>
															<a id="2019-2" href="#">Abnell Comas (2019)</a>
														</li>
														<li>
															<a id="2020-6" href="#">Nwanacho Nwana (2020)</a>
															<ul>
															    <li>
															        <a id = "2021-8" href = "#">William Little (2021)</a>
															    </li>
															</ul>
														</li>
													</ul>
												</li>
											</ul>
										</li>
										<li>
											<a id="2018-13" href="#">Charles Ezeugwu (2018)</a>
											<ul>
												<li>
													<a id="2020-14" href="#">Kebar Geleta (2020)</a>
													<ul>
													    <li>
													        <a id = "2021-1" href = "#">Yodahe Alemu (2021)</a>
													    </li>
													</ul>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li>
									<a id="2017-1" href="#">Amin Manna (2017)</a>
									<ul>
										<li>
											<a id="2018-4" href="#">Eduardo Orozco (2018)</a>
											<ul>
												<li>
													<a id="2020-12" href="#">Johan Villanueva (2020)</a>
													<ul>
													    <li>
													        <a id = "2021-3" href = "#">Nkenna Aniedobe (2021)</a>
													    </li>
													</ul>
												</li>
											</ul>
										</li>
										<li>
											<a id="2019-7" href="#">Michael Amoako (2019)</a>
											<ul>
												<li>
													<a id="2020-3" href="#">Yaateh Richardson (2020)</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="#">Malcom Gilbert (2013)</a></li>
						<li><a id="2015-8" href="#">Fidelis Chimombe (2015)</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Prosper Nyovanie (2013)</a>
				</li>
			</ul>
		</li>
	</ul>
</div>