<script type="text/javascript" src="/javascripts/controllers/brothers/BrotherHeaderController.js"></script>

<div ng-controller="brotherHeaderController" 
     class="pageTextCont classYearTextCont">
  <div class="pageTextWrapper classYearTextWrapper">
    <h1 class="pageText classYearText">
      <ts text="{{viewModel.headerText}}"></ts>
    </h1>
    <div class="classSelector">
      <table>
        <tr>
          <td><a href="/brothers/2018"><h2>2018</h2></a></td>
          <td><a href="/brothers/2019"><h2>2019</h2></a></td>
          <td><a href="/brothers/2020"><h2>2020</h2></a></td>
          <td><a href="/brothers/2021"><h2>2021</h2></a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
